.nav_menu {
  background-color: var(--first-color);
  position: fixed;
  inset-block: 0;
  border-radius: 0 50px 50px 0;
  z-index: 1000;
  top: 10%;
  left: -100%;
  background-color: var(--container-color);
  width:30%;
  height: fit-content;
  padding: 60px 30px;
  transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.show-menu {
  left: 0;
}
.nav_link {
  display: flex;
  align-items: center;
  column-gap: 24px;
  border-bottom: 1px solid var(--border--color);
  padding-block: 14px;
}
.nav__icon,
.nav_name {
  color: var(--title-color);
  font-size: 24px;
}
.nav_name {
  font-weight: var(--weight-500);
}
.active-nav .nav__icon,
.active-nav .nav_name {
  color: var(--first-color);
}
.nav_toggle {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: var(--container-color);
  padding: 12px 10px;
  z-index: 2;

}
.nav_toggle span {
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background-color: var(--title-color);
  margin-bottom: 5px;
}
.animate-toggle span:first-child {
  transform: rotate(45deg) translate(6px, 4px);
}
.animate-toggle span:nth-child(2) {
  display: none;
}
.animate-toggle span:last-child {
  transform: rotate(-45deg) translate(1px, 1px);
}

@media screen and (min-width: 1024px) {
  .nav_menu {
    all: unset;
  }
  .nav_toggle {
    display: none;
  }
  .nav {
    position: fixed;
    inset-block: 0;
    right: 30px;
    display: flex;
    align-items: center;
  }
  .nav_item {
    margin-block: 20px;
  }
  .nav_link {
    padding: 0;
    border-bottom: none;
    background-color: var(--container-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
  }
  .dark-theme .nav_link{
    border-color: hsla(0, 0%, 20%, 0);
  }
  .nav__icon {
    font-size: 20px;
    margin-inline: auto;
  }
  .nav_name {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--first-color);
    height: 100%;
    line-height: 50px;
    padding-inline: 30px 25px;
    border-radius: 30px;
    font-size: var(--small-font-size);
    color: var(--text-white);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
  .nav_link:hover .nav_name {
    color: var(--text-white);
    opacity: 0.8;
    visibility: visible;
    border-radius: 4px 60px 3px 60px;
    box-shadow: rgb(227, 239, 250) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    right: 40px;
  }
  .nav_link:hover,
  .active-nav {
    background-color: var(--first-color);
  }
  .nav_link:hover .nav__icon,
  .active-nav .nav__icon {
    color: var(--text-white);
  }
}

@media (max-width: 768px) {

  .nav_menu {
    width:60%;
    padding: 30px 15px;
  }
}